.text-shadow {
  text-shadow: 1px 1px 4px #000;
}

input[type=search] {
  box-sizing: border-box;
}

header #search-block-form {
  flex-flow: row wrap;
  padding: 0.3125rem 0.9375rem;
}

#search-block-form {
  display: flex;
}
