.text-shadow {
  text-shadow: 1px 1px 4px #000;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

body div.tabledrag-changed-warning {
  margin-bottom: 0.5rem;
}
