.text-shadow {
  text-shadow: 1px 1px 4px #000;
}

.views-displays .tabs .open > a {
  border-radius: 3.3rem 3.3rem 0 0;
}
.views-displays .tabs .open > a:hover,
.views-displays .tabs .open > a:focus {
  color: #124d5f;
}
.views-displays .tabs .action-list {
  padding: 0;
}
.views-displays .secondary .form-submit {
  font-size: 0.875rem;
}

.views-filterable-options .filterable-option:nth-of-type(even) .form-type-checkbox {
  background-color: #f9f9f9;
}

.views-ui-display-tab-actions .dropbutton .form-submit {
  color: #118db1;
}
.views-ui-display-tab-actions .dropbutton .form-submit:hover,
.views-ui-display-tab-actions .dropbutton .form-submit:focus {
  color: #124d5f;
}
